* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Small devices (landscape phones, 576px and up)*/

body {
  display: grid;
  grid-template-rows: 68px 68px calc(100vh-216px) 80px;
  grid-template-areas:
    "nav"
    "buscar"
    "section"
    "footer";
}

nav {
  grid-area: nav;
  background-color: #2d7cc5;
}

.nav-icon {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  color: white;
}

.nav-menu-lista {
  display: none;
}

.icon > p {
  display: inline;
}

.buscar {
  grid-area: buscar;
  padding: 0.3em;
  background-color: #d4d8d8;
  color: black;
  text-align: center;
}

.buscar > p {
  padding-top: 0.5em;
  padding-bottom: 0.2em;
}

.buscar-filtro {
  padding: 0.4em 0.5em;
  width: 95%;
  text-align: left;
}

section {
  display: flex;
  grid-area: section;
  padding: 3em 1.5em 1em 1.5em;
  overflow-y: scroll;
  flex-wrap: nowrap;
  flex-direction: column;
}

footer {
  grid-area: footer;
  padding: 1.5em;
  text-align: center;
  background-color: #16477d;
  color: white;
  display: flex;
}

footer > p {
  padding-top: 0.2em;
}

i {
  padding-left: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1em;
  margin-bottom: 20px;
}

.imagen {
  background-image: url(../img/miniauto.jpg);
  background-size: cover;
  background-position: center;
  min-height: 25rem;
}

button {
  margin-top: 0.5em;
  background-color: #2d7cc5;
  padding: 0.5em 0.7em;
  border-radius: 8px;
  color: whitesmoke;
}

.info {
  padding-top: 1em;
}

ul {
  list-style: none;
  text-align: center;
  padding-top: 2.5em;
  padding-bottom: 1em;
  color: #2d7cc5;
}

li {
  border: 1px solid #d4d8d8;
  display: inline;
  padding: 0.5em 1em;
}

.nav-menu-lista li {
  border: none;
}

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    grid-template-columns: 200px auto;
    grid-template-areas:
      "nav  buscar buscar"
      "nav section section"
      "footer section section";
  }

  section {
    display: flex;
    grid-area: section;
    padding: 1.75em 1.25em 0.75em 1.25em;
    overflow-y: scroll;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card {
    flex-grow: 1;
    flex-basis: 13 rem;
  }
  .barra {
    display: none;
  }

  .nav-menu-lista {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    border: none;
    visibility: visible;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
  }

  .imagen {
    min-height: 11rem;
  }

  footer {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    
  }
}
